<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="contenedor-nav">
    <nav class="nav">
      <div class="imagen">
        <img class="img-nav" src="https://source.unsplash.com/random" alt="random">
      </div>
      <div class="texto-nav">
        <h2>Mascotas</h2>
      </div>
      <div class="buscador">
        <input type="text" placeholder="Buscar...">
      </div>
    </nav>
  </div>

  <div id="modalRegistrar" [class]="modal ? 'panel is-active' : 'panel'">
    <div class="formulario-div">
      <h1>Nuevo animal</h1>
      <form #formu="ngForm" [formGroup]="formulario" (ngSubmit)="agregarAnimal()" class="formulario">

        <input type="text" placeholder="Id" formControlName="id">

        <input type="text" placeholder="Nombre" formControlName="nombre">

        <input type="text" placeholder="Edad" formControlName="edad">
    
        <input type="text" placeholder="Especie" formControlName="especie"><br>

        <div class="imagen-div">
          <img [src]="imagenesAgregar.img1" alt="" (click)="seleccionarImagen($event)">
          <img [src]="imagenesAgregar.img2" alt="" (click)="seleccionarImagen($event)">
          <img [src]="imagenesAgregar.img3" alt="" (click)="seleccionarImagen($event)">
          <img [src]="imagenesAgregar.img4" alt="" (click)="seleccionarImagen($event)">
        </div>

        <button type="submit" id="btnRegistro" [disabled]="valido" class="btn btnRegistrar">Registrar</button>
      </form>
    </div>
  </div>

  <div  [class]="modalEditar ? 'panel is-active' : 'panel'">
    <div class="formulario-div">
      <h1>Editar animal</h1>
      <form #formu="ngForm" [formGroup]="formularioEditar" (ngSubmit)="editarAnimal()" class="formulario">

        <input type="text" placeholder="Id" formControlName="id">

        <input type="text" placeholder="Nombre" formControlName="nombre">

        <input type="text" placeholder="Edad" formControlName="edad">
    
        <input type="text" placeholder="Especie" formControlName="especie"><br>

        <div class="imagen-div">
          <img [src]="imagenesAgregar.img1" alt="" (click)="seleccionarImagenEditar($event)">
          <img [src]="imagenesAgregar.img2" alt="" (click)="seleccionarImagenEditar($event)">
          <img [src]="imagenesAgregar.img3" alt="" (click)="seleccionarImagenEditar($event)">
          <img [src]="imagenesAgregar.img4" alt="" (click)="seleccionarImagenEditar($event)">
        </div>

        <button type="submit" id="btnRegistro" [disabled]="valido"
         [value]="formularioEditar.value.id" class="btn btnRegistrar">Actualizar</button>
      </form>
    </div>
  </div>

  <section class="contenedor-tarjetas">
        <div class="tarjeta-div" *ngFor="let animal of mostraAnimales()">
          <div class="tarjeta-div-img">
            <img class="img-targeta" [src]="animal.img" alt="">
          </div>
          <div class="tarjeta-info">
            <label for="">Nombre: <b>{{animal.nombre}}</b></label>
            <label for="">Edad: <b>{{animal.edad}}</b></label>
            <label for="">Especie: <b>{{animal.especie}}</b></label>
            <button class="btn btnEditar" 
            [value]="animal.id" (click)="mostrarPanelEditar($event)">Editar</button>
            <button class="btn btnEliminar"
             [value]="animal.id" (click)="eliminarAnimal($event)">Eliminar</button>
          </div>
        </div>
       
  </section>
  <button class="btnAgregar" (click)="!modalEditar ? mostrarPanel() : mostrarPanelEditar($event)">
    <img [src]="imagenIcono" alt=""></button>
  
</body>
</html>