:root{
    --main-font: sans-serif;
    --font-size: 16px;
    --main-modal-color: rgba(247,222, 30, 0.85);
    --second-modal-color: rgba(34,34,34, 0.85);
    --btn-color: #fff;
    --btn-background1: #00548F;
    --btn-background2: #8F001B;
}

html{
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
}

.contenedor-nav{
    width: auto;
    height: 70px;
}

.nav{
    display: inline-flex;
    width: 1350px;
    height: 70px;
    align-items: center;
    background-color: #064f80;
    position: fixed;
}

.img-nav{
    width: 70px;
    height: 70px;
    padding: 5px;
    margin: 5px;
    margin-right: 500px;
    border-radius: 50%;
}

.texto-nav{
    padding: 10px;
    margin: 10px;
    margin-right: 390px;
    color: aliceblue;
}

.buscador{
    padding: 10px;
    margin: 10px;
}

.buscador>input{
    height: 30px;
    width: 220px;
    border-radius: 30px;
    border-style: none;
    outline: none;
    padding: 5px;
}

.contenedor-tarjetas{
    margin: 50px;
}

.tarjeta-div{
    display: inline-flex;
    border: 1px solid #000;
    background-color: rgba(238, 234, 234, 0.918);
    margin: 10px;
    margin-left: 30px;
    border-radius: 10px;
}

.tarjeta-div-img{
    display: grid;
    grid-column: inherit;
}

.tarjeta-info{
    display: grid;
    grid-column: inherit;
    width: 180px;
    padding: 10px;

    .btnEliminar{
       background: #bb0426;
       color: #fff
    }

    .btnEditar{
        background: #0b78c7;
        color: #fff
    }

    .btnEliminar:active{
        background: #94031e;
     }
 
     .btnEditar:active{
         background: #074f83;
     }
}

.btn{
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.tarjeta-div:hover{
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.img-targeta{
    width: 180px;
    height: 150px;
    border-radius: 10px;
}

.panel{
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(34,34,34, 0.85);
    /*transicion con efecto de aceleracion*/
    transition: transform .3s ease;
    /*modifica la direccion de donde sale el modal*/
    /*Arriba*/
    transform: translate(0, -100%);
}

.panel.is-active{
    transform: translate(0,0);
}

.btnAgregar{
    position: absolute;
    bottom: 10px;
    left: 1280px;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    border-radius: 30%;
    align-content: center;
    background-color: #35e712;
    z-index: 999;
    position: fixed;

    img{
        width: 50px;
        height: 50px;
    }
}

.btnAgregar:active{
    background-color: #25920f;
}

.formulario-div{
    background-color: #fff;
    width: 580px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    padding: 5px;

    h1{
        margin-left: 200px;
        text-decoration: underline;
    }
}

.formulario{
    margin: auto;
    padding: 10px;
    height: 400px;
    

    input{
        height: 30px;
        margin: 10px;
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px solid #074f83;
        width: 350px;
        padding: 5px;
        margin-left: 100px;
    }

    input:focus{
       outline: none;
    }

    .imagen-div{
        display: inline-flex;
        width: 545px;
        height: 100px;

        img{
            width: 80px;
            height: 80px;
            margin-right: 30px;
            margin-left: 30px;
            margin: auto;
            transition: width .2s ease, height .2s ease;
            cursor: pointer;
        }

        img:hover{
            width: 100px;
            height: 100px;
            box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);
        }

        .img-active{
            width: 100px;
            height: 100px;
            box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);
        }
    }

    .btnRegistrar{
        margin-left: 180px;
        margin-top: 25px;
        height: 40px;
        width: 180px;
        background: #0b78c7;
        color: #fff
    }

    .btnRegistrar:active{
        background: #074f83;
    }

    .btnRegistrar:disabled{
        background: #8bc7f1;
    }
}